.logo {
    width: 130px;
    height: 80px;
}

.text-secondary:hover {
    color: #7CFC00 !important;
}

i {
    color: #7CFC00
}

.fa-lg {
    padding-left: 40px;
}

.fa-lg:hover {
    color: #7CFC00;
}