<footer class="page-footer font-small indigo bg-light">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <a href="#"><img src="./assets/icon/logo1.png" alt="logo" class="logo"></a>
                <br>
                <p class="fw-bold">Better digital experience with Infoonclick
                    We are team of talented designers making websites and app</p>
                <span class="fa fa-lg fa-facebook "></span>
                <span class="fa fa-lg fa-instagram"></span>
                <span class="fa fa-lg fa-twitter"></span>
                <span class="fa fa-lg fa-linkedin"></span>
                <!-- <span class="fa fa-facebook"></span> -->
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Quick Links</h6>

                <ul class="list-unstyled text-center ">
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none">Blog</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none">Inquiry</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none">Contact Us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none">Who We Are?</a>
                    </li>
                </ul>

            </div>


            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4">PRODUCT RANGE</h6>

                <ul class="list-unstyled text-center">
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none">Spices</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none">Namkeen & Sweets</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none">Biscuits & Bakery</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none">Pulses & Grain</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none">Rice</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Term & Condition</h6>

                <ul class="list-unstyled text-center">
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none">Shipping & Logistics Policy</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none">Payment Policy</a>
                    </li>

                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h6 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h6>

                <ul class="list-unstyled text-center">
                    <li>
                        <h5 href="#!" class="text-secondary text-decoration-none">+1 469 740 7590</h5>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none"><i class="fa fa-envelope"
                                aria-hidden="true"></i>&nbsp;infoonclick22@gmail.com</a>
                    </li>
                    <li>
                        <a href="#!" class="text-secondary text-decoration-none"> <i class="fa fa-map-marker"
                                aria-hidden="true"></i>&nbsp;Dallas-Texas, <br>
                            United States Of America</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->


    </div>

    <!-- Footer Links -->

    <!-- Copyright -->
    <!-- <div class="footer-copyright bg-dark left text-white py-3">Copyright © 2020 <a href="http://www.infoonclick.com/" class="text-white text-decoration-none"> Infoonclick</a>. All Rights Reserved <span class="footer-copyright bg-dark right float-end text-white ">Developed By: Info Onclick</span></div> -->
    <div class="footer-copyright bg-dark text-center text-white py-3">Copyright © 2022 <a
            href="http://www.infoonclick.com/" class="text-white text-decoration-none"> Infoonclick</a>. All Rights
        Reserved. Developed By: Info Onclick</div>
    <!-- Copyright -->

</footer>
