
<div class="banner">
    <img src="./assets/banner/inquiry.png" alt="bg" class="bg">
</div>
<div class="container">
    <div class="bg-light">
        <div class="row">
            <div class="col-md-12">
                <h2 class="textr-dark fw-bold">HOW CAN WE HELP YOU?</h2> <br> <br>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="input" class="form-label fw-semibold">YOUR NAME*</label> <br>
                            <input type="text" class="form-control" id="inputText">
                        </div>
                        <div class="col-md-6">
                            <label for="inputEmail4" class="form-label fw-semibold">E-MAIL ADDRESS*</label> <br>
                            <input type="email" class="form-control" id="inputEmail4">
                        </div>
                    </div> <br> <br>
                    <div class="row ">
                        <div class="col-md-6">
                            <label for="input" class="form-label fw-semibold">PHONE NUMBER*</label> <br>
                            <input type="tel" class="form-control" id="inputText">
                        </div> <br>

                        <div class="col-md-6">
                            <label for="inputState" class="form-label fw-semibold">COUNTRY*</label> <br>
                            <select id="inputState" class="form-select">
                                <option selected >Select Country</option>
                                <option>Alabania</option>
                                <option>Algeria</option>
                                <option>Bahrin</option>
                                <option>Bermuda</option>
                                <option>Canada</option>
                                <option>China</option>
                                <option>Denmark</option>
                                <option>Dominika</option>
                                <option>Egypt</option>
                                <option>Eritera</option>
                                <option>Finland</option>
                                <option>France</option>
                                <option>Greece</option>
                                <option>Germany</option>
                                <option>Hungury</option>
                                <option>Hong Kong</option>
                                <option>India</option>
                                <option>Iraq</option>

                            </select>
                        </div>
                    </div> <br> <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="input" class="form-label fw-semibold">PRODUCT NAME*</label> <br>
                            <input type="text" class="form-control" id="inputText">
                        </div> 
                    </div> <br> <br>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="exampleFormControlTextarea1" class="form-label fw-semibold">YOUR
                                MESSAGE</label> 
                            <br>
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
                            
                        </div> 
                    </div> <br> <br>

                </form>
                <button type="button" routerLink="/product" class="btn fw-bold text-white">SUBMIT</button>
            </div>
        </div>
    </div>
</div>